@import "../../../../../../../../assets/styles/globals";


.fa-folder {
  color: #ffeb99;
}

.fa-file-alt, .fa-file-csv {
  color: grey;
}

.fa-file-pdf {
  color: darkred;
}

.fa-file-image {
  color: green;
}

.fa-file-word {
  color: steelblue;
}
